@use './layout/variables' as *;
@use './layout/colors' as *;
@use './layout/mixins' as *;
@use './layout/typography' as *;

.header {
	padding: 8px 0;
	position: fixed;
	width: 100%;

	.container {
		@media (min-width: $pc) {
			max-width: 1644px;
			padding-inline: 52px;
		}
	}
}

.header-holder {
	display: flex;
	max-width: 800px;
	margin: 0 auto;
	padding: 4px 4px 4px 12px;
	gap: 14px;
	justify-content: space-between;
	align-items: center;
	position: relative;

	@media (min-width: $pc) {
		max-width: unset;
		padding: 8px 16px 8px 24px;
	}

	&:before {
		content: '';
		inset: 0;
		box-shadow: 0 0 8px rgba($black, 0.3) inset;
		border-radius: 99px;
		background: rgba($white, 0.75);
		backdrop-filter: blur(12px);
		position: absolute;
		display: block;
		overflow: hidden;
		z-index: -1;
	}

	&:after {
		content: '';
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		right: 0;
		background: rgba($black, 0.7);
		opacity: 0;
		z-index: -1;
		transition: all 0.3s ease-in-out;
	}

	.header-active & {
		&:after {
			opacity: 1;
			z-index: 1;
		}
	}
}

.header-menu-holder {
	background: $white;
	color: var(--color-gray-600);
	position: fixed;
	width: 100%;
	max-width: 288px;
	height: 100vh;
	right: 0;
	top: 0;
	padding: 8px 16px 40px;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	transform: translateX(100%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 14px;
	z-index: 2;
	transition: all 0.3s ease-in-out;

	@media (min-width: $pc) {
		opacity: 1;
		visibility: visible;
		position: static;
		padding: 0;
		transform: unset;
		height: unset;
		background: transparent;
		flex-direction: row;
		align-items: center;
		justify-content: unset;
		max-width: unset;
		width: unset;
		overflow: unset;
	}

	.header-active & {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
	}
}

.header-menu {
	font-size: 14px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	list-style-type: none;
	padding: 0;
	margin: 0;

	@media (min-width: $pc) {
		background: var(--color-neutral-75);
		border-radius: 99px;
		flex-direction: row;
		flex-wrap: wrap;
		font-size: 16px;
		padding: 12px 20px;
		gap: 20px;
	}

	a {
		color: inherit;
		text-decoration: none;
		padding: 6px 12px;
		display: inline-block;
	}

	.menu-item {
		&.active {
			color: var(--color-amber-700);
			background: var(--color-neutral-0);
			border-radius: 99px;
		}
	}

	.menu-item-has-children {
		&.active {
			> a {
				&:after {
					color: var(--color-amber-700);
				}
			}
		}

		> a {
			&:after {
				content: '\e906';
				font-family: 'icomoon';
				line-height: 1;
				font-size: 20px;
				vertical-align: middle;
				margin-left: 12px;
			}
		}

		.drop-holder {
			list-style-type: none;
			padding: 0;
			margin: 0;
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease;
		}
	}
}

.header-logo {
	max-width: 125px;
	width: 100%;
	font-size: 0;

	@media (min-width: $pc) {
		max-width: 207px;
	}

	img {
		max-width: 100%;
		width: 100%;
		height: auto;
	}
}

.menu-toggle,
.menu-close {
	@media (min-width: $pc) {
		display: none;
	}
}

.icon-burger {
	font-size: 24px;
}

.menu-close {
	background: var(--color-amber-600);
	color: $white;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	font-size: 24px;
	align-self: flex-end;
	flex-shrink: 0;
}

.additional-header-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 4px;
}

.languages-menu {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4px;

	a {
		color: inherit;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 500;
		display: inline-block;
		padding: 6px 10px;
		border-radius: 99px;
		border: 2px solid var(--color-gray-200);
	}
}

.login-button {
	width: 100%;
	gap: 8px;
	margin-top: 20px;

	@media (min-width: $pc) {
		width: fit-content;
		margin-top: 0;
		margin-left: 20px;
	}

	.icon-user-circle {
		font-size: 24px;
	}
}

.header-button {
	padding: 6px 12px;
	border-radius: 99px;
	font-size: 20px;
	width: 44px;
	height: 32px;
	background: var(--color-gray-900);
	color: $white;
}
